.abc{
    background-color: rgb(255, 239, 167);
    height: 56.3em;
    border-radius: 0.7em;

    .cab{
        background-color: #ff8800;
        height: 5em;
        margin-top: -3em;

        .f1-titulo{
            color: #000000;
            text-align: center;
            font-size: 3em;
            font-style: italic;
        }
    }
    

    .help{
    
        .de{
            border-radius: 0.7em;
        }
    }

    input{
        height: 2em;
        width: 20em;
    }

    button{
        height: 2.5em;
        border: #001aff;
    }
}